<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/515b06e286.js"
      crossorigin="anonymous"
    ></script>
    <style>
      * {
        background-image: url(https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
      }

      .a {
        text-decoration: none;
        color: black;
        font-size: 30px;
        width: 400px;
        height: 200px;

        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in-out;
      }
      .button {
        border: 5px solid black;
      }
      .a:hover {
        color: gray;
        width: 401px;
        height: 201px;
      }
      .href {
        color: black;
        text-decoration: none;
      }
      .btn {
        float: right;
        width: 80px;
        height: 30px;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center; margin-bottom: 10px">Home Page</h1>
    <button class="btn">
      <a href="/users/logout/<%=token%>" class="href"
        >Logout <i class="fa-solid fa-right-from-bracket"></i
      ></a>
    </button>
    <h2 style="margin-left: 20px">Hi, <%=userr%></h2>

    <div style="text-align: center; margin-bottom: 100px">
      <button class="button">
        <a href="/items/<%=token%>" class="a">Seller</a>
      </button>
    </div>
    <div style="text-align: center">
      <button class="button">
        <a href="/buyeritems/<%=token%>" class="a">Buyer</a>
      </button>
    </div>
  </body>
</html>
